:root {
  --text: #f0dddd;
  --background: #000000;
  --primary: #5f0d18;
  --secondary: #851c1c;
  --accent: #df2828;
}

body {
  background-color: var(--background);
  color: var(--text);

  margin: 0px;
  overflow-x: hidden;
}



#content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  margin-top: 5%;
}

#message {
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

#playlists {
  gap: 2%;
}



.center {
  display: flex;
  align-items: center;.icon {
    width: 30px;
  }
  
  justify-content: center;
}

.imageFill {
  object-fit: scale-down;
  width: 100%;
  height: auto;
}

em {
  font-weight: bold;
}

.icon {
  width: 30px;
}

.playlistLink {
  text-decoration: none;
}

.playlistButton {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 15px;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
}